[Unit]
Description=service that synchronizes snapper snapshots to other media
Wants=udisks2.service

[Service]
Type=simple
ExecStart=/usr/bin/snapsync auto-sync --one-shot

[Install]
WantedBy=default.target
